.search-field {
    /*cass สำหรับหาข้อมูล*/
    width: 100%;
    /*ความกว้าง*/
    margin-bottom: 20px;
    /*ระยะห่างระหว่างตัวหาข้อมูลกับบล็อกข้อมูล*/
    border-radius: 20px;
    /*ปรับมุมโค้งของบล็อก*/
    font-size: 20px;
    /*ขนาดตัวอักษร*/
    border: 1px solid salmon;
    /*ความหนาของเส้นขอบและสี*/
    padding: 5px;
    /*ความกว้างของcass search-field*/
    text-align: center;
    /*จัดข้อความในการค้นหา*/
}

.products-container {
    /*cassของกล่องข้อมูล*/
    display: flex;
    /*ให้ข้อมูลอยู่ตรงกลาง*/
    flex-wrap: wrap;
    /*ขยายหน้าจอแล้วข้อมูลเกินหน้าจอจะย้ายไปอยู่แถวถัดไป*/
    gap: 20px;
    /*ช่องว่างระหว่างกล่อง*/
    justify-content: center;
    /*กล่องเกินจะจัดให้อยู่ตรงกลาง*/
}

.product-card {
    width: 250px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    /*ใส่เงาของกล่อง */
}

.product-card>img {
    width: 100%;
    height: 150px;
    /*ความสูง*/
}

.card-content {
    padding: 5px;
    /*ระห่างของขอบด้านในกล่อง*/
}

.card-footer {
    padding-inline: 5px;
    /*การจัดข้อมูลราคาสินค้า*/
    display: flex;
    align-items: center;
    /*จัดข้อความให้อยู่ตรงกลาง*/
    justify-content: space-between;
    /*ตัวเลขระยะห่างเท่ากัน*/
}